@import "variables";

/* HEADER */

.color-nav {
    font-size: 3rem;
    background-color: $color-primario;
}

.nav-derecha {
    display: flex;
    justify-content: flex-end;
}

.navbar-toggler span {
    color: $color-secundario;
    font-size: 2rem !important;
}